* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #0F131A;
  --secondary: #171C23;
  --accent: #007AFF;
  --font-primary: #F5F5F5;
  --font-secondary: rgb(245, 245, 245, 0.3);
  --accent-red: #FF393D;
}

h1 {
  background-color: var(--primary);
  color: var(--accent);
}