/*Snackbar Styles*/
/*Lines that has comment is safe to modify.*/

.snackbar {
  visibility: hidden;
  opacity: 0;
  z-index: 99999 !important;

  position: fixed !important;
  bottom: -60px !important; /*You can change this carefully! Don't forget to change the bottom property on the .snackbar.show as well.*/
  right: 15px !important;  /*Positioned 15px from right by default. Change this based on yuor needs.*/

  width: 300px; /*Changable.*/
  height: 45px; /*Changable*/

  padding: 5px 10px 5px 15px; /*Changable*/

  background-color: #F5F5F5; /*Changable*/
  box-shadow: 0px 0px 16px -2px #000000; /*Optional, changable*/

  border-radius: 15px; /*Changable*/

  font-size: 17px; /*Changable*/
  font-weight: 500; /*Optional, changable*/

  display: grid;
  align-items: center; /*Text is positioned center VERTICALLY by default. Optional, changable.*/

  filter: blur(15px);

  transition: 0.5s cubic-bezier(.38,.09,.24,.98);
}

.snackbar.show {
  visibility: visible;
  opacity: 1;
  position: fixed !important;

  bottom: 15px !important; /*You can change this carefully!*/

  filter: blur(0px);
}
